{% extends 'base/main.html' %}
{% block title %}- log in or register{% endblock title %}
{% block content %}
<div class="login-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-wrapper">
            <input class="button button-1 login-btn-1" type="submit" value="Login">
        </div>
    </form>
    <hr>
    <div class="btn-wrapper">
        <p style="margin-left:-10px">Don't have an Account?</p>
    </div>
    <div class="btn-wrapper">
        <a class="button button-2" href="{% url 'register' %}">Register</a>
    </div>
</div>

{% endblock content %}